*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em; 
}

header {
    width: 100%;
    height: 90px;
    background-color: #0e0027;
    box-shadow: 0px 10px 20px #821fbb;
    margin-bottom: 75px;
}

.interior_sup {
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}

.barra{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.barra ul{
	list-style: none;
	padding: 0 10px;
}
.barra ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.barra ul li:hover {
	transform: scale(1.1);
}
.barra ul li a {
    padding: 12px 20px;
    transition: .3s linear;
}
.barra ul li a:hover {
    color: #c9fff3;
}

.logo {
    float: left;
    padding: 5px 20px;
}
.logo img {
    height: 80px;
    transition: .3s linear;
}
.logo img:hover {
    transform: scale(1.1);
}

footer {
    width: 100%;
    height: 350px;
    background-color: #0e0027;
    box-shadow: 0 -10px 20px #821fbb;
    margin-top: 75px;
}
.interior_inf {
    max-width: 100%;
    padding: 50px 75px;
    margin: auto;
    color: #4d3c76;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
}
.interior_inf ul {
    list-style: none;
}
.interior_inf ul li a {
    color: #4d3c76;
    text-decoration: none;
    padding: 10px 15px;
    transition: .2s linear;
}
.interior_inf ul li a:hover {
    color: #821fbb;
}

.red {
    float: left;
}
.red img {
    display: inline-block;
    vertical-align: middle;
    height: 22px;
}

.titulo {
    color:#ffffff;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size:48px;
    text-align:center;
}
    
.text {
    color:#ffffff;
    font-family: "Contrail One", sans-serif;
    font-style: normal;
    font-size: 24px;
    text-align:justify;
    text-decoration: none;
    margin: 1.5%;
}

.reproductor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 10px;
}

.rights {
    padding-top: 185px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

.deslizable {
    text-align: center;
}
.deslizable img {
    height: 950px;
    margin: 50px;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
}
